
<div class="flex w-screen justify-between border border-t-0 border-l-0 border-r-0 border-gray-200 p-4 shadow-sm bg-gray-50">
  <h1>Glowup</h1>
  <nav>
    <ul class="flex ">
      <li><a href="/dashboard" class="m-20 hover:text-blue-600 hover:font-bold border border-l-0 border-r-0 border-t-0 pb-1 border-transparent hover:border-blue-600">Dashboard</a></li>
      <li><a href="/google" class="mr-16 hover:text-blue-600 hover:font-bold border border-l-0 border-r-0 border-t-0 pb-1 border-transparent hover:border-blue-600">Login</a></li>
    </ul>
  </nav>

</div>
