
<div class="flex w-screen justify-between border border-t-0 border-l-0 border-r-0 border-gray-200 p-4 shadow-sm">
  <h1>Glowup</h1>
  <nav>
    <ul class="flex ">
      <li><a href="#" class="m-24">Dashboard</a></li>
      <li><a href="#" class="mr-36">Login</a></li>
    </ul>
  </nav>

</div>
