<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/tailwind.css">
    <script src="https://kit.fontawesome.com/9b6a961307.js" crossorigin="anonymous"></script>
    

</head>
<body>
    <%- include ("./partials/header") %>
    <div class="main-content flex justify-center">
        <div class="calendar-toggle flex mt-3 px-2 py-1 border rounded-full items-center">
            <a href="#"><i class="fas fa-arrow-left text-2xl px-2 py-1.5 border border-t-0 border-l-0 border-b-0 border-r-2 hover:text-blue-500"></i> </a>
            <h1 class="text-lg mx-4">Thursday 1/2</h1>
            <a href='#' class="block"><i class="fas fa-arrow-right text-2xl px-2 py-1.5 border border-t-0 border-r-0 border-b-0 border-l-2 hover:text-blue-500"></i></a>
        </div>
    </div>
    
    
</body>
</html>